<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .btn:hover {
        background-color: white;
        color: black;
      }
    </style>
  </head>
  <body
    style="background-color: #550aa9; justify-content: center; color: white"
  >
    <div>
      <center>
        <h1>Delete</h1>
        <form
          class="form"
          style="border: 1px solid white; display: inline-block; padding: 50px"
        >
          <div style="padding: 10px">
            <label>Username:</label>
            <input type="text" />
          </div>
          <div style="padding: 10px">
            <label>Email:</label>
            <input type="email" />
          </div>
          <div style="padding: 10px">
            <label>Password:</label>
            <input type="password" />
          </div>
          <div>
            <button
              class="btn"
              style="
                background-color: #550aa9;
                color: white;
                border: 1px solid white;
                border-radius: 10%;
                cursor: pointer;
              "
            >
              Delete
            </button>
          </div>
        </form>
      </center>
    </div>
  </body>
</html>
